<launch>

  <arg name="tf_x" default="0.0" />
  <arg name="tf_y" default="0.0" /> 
  <arg name="tf_z" default="0.0" />
  <arg name="tf_roll" default="0.0" />
  <arg name="tf_pitch" default="0.0" />
  <!-- -1.57 -->
  <arg name="tf_yaw" default="0.0" />

  <arg name="method_type" default="3" /> 
  <!-- .GENERIC 3.OPENMP  -->
  <arg name="min_scan_range" default="1.0" />
  <arg name="max_scan_range" default="150.0" />
  <arg name="min_add_scan_shift" default="1.0" />
  <arg name="voxel_leaf_size" default="0.2" /> 

  <param name="tf_x" type="double" value="$(arg tf_x)" />
  <param name="tf_y" type="double" value="$(arg tf_y)" /> 
  <param name="tf_z" type="double" value="$(arg tf_z)" />
  <param name="tf_roll" type="double" value="$(arg tf_roll)" />
  <param name="tf_pitch" type="double" value="$(arg tf_pitch)" />
  <param name="tf_yaw" type="double" value="$(arg tf_yaw)" />

  <node pkg="ndt_mapping" type="ndt_mapping" name="ndt_mapping" output="screen">
    <remap from="points_raw" to="velodyne_points" /> 

    <param name="method_type" type="int" value="$(arg method_type)"/>
    <param name="min_scan_range" type="double" value="$(arg min_scan_range)" />
    <param name="max_scan_range" type="double" value="$(arg max_scan_range)" />
    <param name="min_add_scan_shift" type="double" value="$(arg min_add_scan_shift)"/>
    <param name="voxel_leaf_size" type="double" value="$(arg voxel_leaf_size)" /> 
    
  </node>

</launch>
