<launch>

  <!--　カメラ映像やIMUのデータを取得しながらSLAMを行う。 カメラとIMUのデータはSLAMには使わず、記録するだけ。 -->

  <!-- LiDAR -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
    <arg name="device_ip" default="" />
    <arg name="frame_id" default="velodyne" />
    <arg name="manager" default="velodyne_nodelet_manager" />
    <arg name="max_range" default="150.0" />
    <arg name="min_range" default="0.4" />
  </include>

  <!-- camera -->
  <!-- 1920*960(30fps) or 3840*1920(15fps) -->
  <include file="$(find ndt_mapping)/launch/uvc_cam.launch">
    <arg name="width" value="1920" />
    <arg name="height" value="960" />
    <arg name="frame_rate" value="30" />
  </include>

<!--
  <include file="$(find ndt_mapping)/launch/usb_cam.launch">
    <arg name="video_device" value="/dev/video1" />
    <arg name="image_width" value="1920" />
    <arg name="image_height" value="960" />
    <arg name="pixel_format" value="mjpeg" />
    <arg name="camera_frame_id" value="usb_cam" />
    <arg name="io_method" value="mmap"/>
  </include>
-->

  <!-- IMU -->
<!--
  <include file="$(find rt_usb_9axisimu_driver)/launch/rt_usb_9axisimu_driver.launch">
  </include>
-->

  <!-- SLAM -->
  <include file="$(find ndt_mapping)/launch/ndt.launch">
    <arg name="tf_x" value="0.0" />
    <arg name="tf_y" value="0.0" /> 
    <arg name="tf_z" value="0.0" />
    <arg name="tf_roll" value="0.0" />
    <arg name="tf_pitch" value="-1.57" />
    <!-- -1.57 -->
    <arg name="tf_yaw" value="0.0" />

    <arg name="method_type" value="3" /> 
    <!-- .GENERIC 3.OPENMP  -->
    <arg name="min_scan_range" value="2.0" />
    <arg name="max_scan_range" value="150.0" />
    <arg name="min_add_scan_shift" value="0.7" />
    <arg name="voxel_leaf_size" value="0.2" /> 
  </include>

</launch>
